In [30]:
import os
import pandas as pd
import numpy as np
import glob
pd.reset_option('^display.', silent=True)
os.chdir(r"C:\\Users\\Tobiloba\\Desktop\\DieselLogSheet\\Head_office")

globbed_files = glob.glob("*.xlsx") #creates a list of all csv files

globbed_files

['HeadOffice_August_2022.xlsx']

In [31]:
data = []
for xlsx in globbed_files:
    frame = pd.read_excel(xlsx)
    frame['filename'] = os.path.basename(xlsx)
    data.append(frame)
    df = pd.concat(data)
    

site = df['filename']

In [32]:
site = df['filename'].str.split('_', expand=True)[[0]]

In [33]:
conditions = [(site[0] == 'HeadOffice')]

# create a list of the values we want to assign for each condition
values = ['Head Office']

# create a new column and use np.select to assign values to it using our lists as arguments
df['site'] = np.select(conditions, values)
# capitalizing the site names 
df['site'] = df['site'].str.capitalize()

In [34]:
df = df.iloc[:, [0, 4,5,10,15]]
df.rename(columns = {'DATE':'Date', 'DIESEL TANK OPENING QUANTITY IN LITRES':'Diesel_Tank_Opening_Quantity', 'QUANTITY of DIESEL SUPPLIED (if diesel was supplied today)':'Quantity_of_Diesel_Supplied'\
                    , 'DIESEL TANK CLOSING QUANTITY IN LITRES':'Diesel_Tank_Closing_Quantity', 'DIFFERENCE IN DIESEL QUANTITY\n( USAGE)':'Difference_In_Diesel_Quantity'}, inplace = True)

df

,Date,Diesel_Tank_Opening_Quantity,Quantity_of_Diesel_Supplied,Diesel_Tank_Closing_Quantity,Difference_In_Diesel_Quantity
0,2022-01-08 00:00:00,2030,NO,1970,60
1,2022-02-08 00:00:00,1970,NO,1970,0
2,2022-03-08 00:00:00,1970,NO,1940,30
3,2022-04-08 00:00:00,1940,NO,1940,0
4,2022-05-08 00:00:00,1940,NO,1880,60
5,2022-08-08 00:00:00,1880,NO,1840,40
6,2022-09-08 00:00:00,1840,NO,1790,50
7,2022-10-08 00:00:00,1790,NO,1750,40
8,2022-11-08 00:00:00,1750,NO,1710,40
9,2022-12-08 00:00:00,1710,NO,1680,30
10,15/8/2022,1680,NO,1680,0
11,16/8/2022,1680,NO,1680,0
12,17/8/2022,1680,NO,1610,70
13,18/8/2022,1610,NO,1610,0
14,19/8/2022,1610,NO,1610,0
15,22/8/2022,1610,NO,1590,20
16,23/8/2022,1590,NO,1560,30
17,24/8/2022,1560,NO,1560,0
18,25/8/2022,1560,NO,1560,0
19,26/8/2022,1560,NO,1560,0
20,29/8/2022,1560,NO,1560,0
21,30/8/2022,1560,NO,1560,0
22,31/8/2022,1560,NO,1560,0

In [38]:
# removing all na values based on Diesel_Tank_Opening_Quantity
df = df[df['Diesel_Tank_Opening_Quantity'].notna()]
#drop rows that contain NEPA 
df = df[df.Diesel_Tank_Opening_Quantity != "NEPA"]
df = df[df.Date != "Date (DD/MM/YYYY)"]
# Replacing all NaN values with 0
df.fillna(0, inplace=True)
df.replace(['NIL'],[0], inplace=True)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
df = df.replace('LITRES','', regex=True)
df = df.replace('LTRES','', regex=True)
df = df.replace('was supplied','', regex=True)
df = df.replace('NO',0, regex=True)

df

,Date,Diesel_Tank_Opening_Quantity,Quantity_of_Diesel_Supplied,Diesel_Tank_Closing_Quantity,Difference_In_Diesel_Quantity
0,2022-01-08,2030,0,1970,60
1,2022-02-08,1970,0,1970,0
2,2022-03-08,1970,0,1940,30
3,2022-04-08,1940,0,1940,0
4,2022-05-08,1940,0,1880,60
5,2022-08-08,1880,0,1840,40
6,2022-09-08,1840,0,1790,50
7,2022-10-08,1790,0,1750,40
8,2022-11-08,1750,0,1710,40
9,2022-12-08,1710,0,1680,30
10,2022-08-15,1680,0,1680,0
11,2022-08-16,1680,0,1680,0
12,2022-08-17,1680,0,1610,70
13,2022-08-18,1610,0,1610,0
14,2022-08-19,1610,0,1610,0
15,2022-08-22,1610,0,1590,20
16,2022-08-23,1590,0,1560,30
17,2022-08-24,1560,0,1560,0
18,2022-08-25,1560,0,1560,0
19,2022-08-26,1560,0,1560,0
20,2022-08-29,1560,0,1560,0
21,2022-08-30,1560,0,1560,0
22,2022-08-31,1560,0,1560,0

In [40]:
# Structuring the datatypes
df['Date'] = df['Date'].astype('datetime64')

df['Diesel_Tank_Opening_Quantity'] = df['Diesel_Tank_Opening_Quantity'].astype('int')

df['Quantity_of_Diesel_Supplied'] = df['Quantity_of_Diesel_Supplied'].astype('int')

df['Diesel_Tank_Closing_Quantity'] = df['Diesel_Tank_Closing_Quantity'].astype('int')

df['Difference_In_Diesel_Quantity'] = df['Difference_In_Diesel_Quantity'].astype('int')

df['Difference_In_Diesel_Quantity_Calc'] = df['Diesel_Tank_Opening_Quantity'] - df['Diesel_Tank_Closing_Quantity']
# Checking if correct
df['Truth'] = df['Difference_In_Diesel_Quantity'] == df['Difference_In_Diesel_Quantity_Calc']

df['Truth'].value_counts()

n_steps = 2
def rolling_diff(x):
    return x.iloc[-1] - x.iloc[0]

df['Refill_Check']=df.Diesel_Tank_Opening_Quantity.rolling(window=n_steps).apply(rolling_diff).fillna(-1)

df['Refilling_Check2'] = df['Refill_Check'] > 0
df

,Date,Diesel_Tank_Opening_Quantity,Quantity_of_Diesel_Supplied,Diesel_Tank_Closing_Quantity,Difference_In_Diesel_Quantity,Difference_In_Diesel_Quantity_Calc,Truth,Refill_Check,Refilling Check2,Refilling_Check2
0,2022-01-08,2030,0,1970,60,60,True,-1.0,False,False
1,2022-02-08,1970,0,1970,0,0,True,-60.0,False,False
2,2022-03-08,1970,0,1940,30,30,True,0.0,False,False
3,2022-04-08,1940,0,1940,0,0,True,-30.0,False,False
4,2022-05-08,1940,0,1880,60,60,True,0.0,False,False
5,2022-08-08,1880,0,1840,40,40,True,-60.0,False,False
6,2022-09-08,1840,0,1790,50,50,True,-40.0,False,False
7,2022-10-08,1790,0,1750,40,40,True,-50.0,False,False
8,2022-11-08,1750,0,1710,40,40,True,-40.0,False,False
9,2022-12-08,1710,0,1680,30,30,True,-40.0,False,False
10,2022-08-15,1680,0,1680,0,0,True,-30.0,False,False
11,2022-08-16,1680,0,1680,0,0,True,0.0,False,False
12,2022-08-17,1680,0,1610,70,70,True,0.0,False,False
13,2022-08-18,1610,0,1610,0,0,True,-70.0,False,False
14,2022-08-19,1610,0,1610,0,0,True,0.0,False,False
15,2022-08-22,1610,0,1590,20,20,True,0.0,False,False
16,2022-08-23,1590,0,1560,30,30,True,-20.0,False,False
17,2022-08-24,1560,0,1560,0,0,True,-30.0,False,False
18,2022-08-25,1560,0,1560,0,0,True,0.0,False,False
19,2022-08-26,1560,0,1560,0,0,True,0.0,False,False
20,2022-08-29,1560,0,1560,0,0,True,0.0,False,False
21,2022-08-30,1560,0,1560,0,0,True,0.0,False,False
22,2022-08-31,1560,0,1560,0,0,True,0.0,False,False

In [41]:
df.Refilling_Check2.value_counts()

False    23
Name: Refilling_Check2, dtype: int64